/* 20150222 Wangshu Sun */
/***** content *****/

/***** foot *****/
#foot {
	padding-top: 5em;
	padding-bottom: 2em;
	clear: both;
}
#content-left #foot p {
	margin: 0;
}

hr { border-top: 1px solid #eee; border-bottom: none;}

#content-left h3, #content-left h4, #content-left h5, #content-left h6 {
	margin: 1em 0 1.2em 0;
}
#content-left p {
	margin: 2em 0;
}
#content-left img {
	margin: 2em 0;
}

#content-right h4 {
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: 16px;
}
.current-class {
  text-decoration: none;
  background-color: #f6f6f6;
}
#content-right .nav > li > a {
	color: #333333;
	font-size: 13px;
}
#content-right hr {
	margin: 0px;
}
#content-right li, #content-right li a {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.project-right {
	padding: 0;
}
.project-right img{
	width: 50px;
	margin-right: 10px; /* 12px */
}
