/* 20150222 Wangshu Sun */
/***** global *****/
.fixed {position: fixed; top: 30px;}

/***** foot *****/
#foot {
	padding-top: 5em;
	padding-bottom: 2em;
	clear: both;
}
#content-left #foot p {
	margin: 0;
}

hr { border-top: 1px solid #eee; border-bottom: none;}

#content-left-top h3, #content-left-top h4, #content-left-top h5, #content-left-top h6 {
	margin: 1em 0 1.2em 0;
}
#content-left-top p {
	margin: 1em 0;
}
#content-left-top img {
	margin: 2em 0;
}

#content-right h4 {
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: 16px;
}
.current-class {
  text-decoration: none;
  background-color: #f6f6f6;
}
#content-right .nav > li > a {
	color: #333333;
	font-size: 13px;
}
#content-right hr {
	margin: 0px;
}
#content-right li, #content-right li a {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.project-right {
	padding: 0;
}
.project-right img{
	width: 50px;
	margin-right: 10px; /* 12px */
}


/* home portfolio */
.subtitle {
	color: #777777;
	margin-left: 2em;
}

.project {
	margin: 0 auto;
	width: 80%;
	max-width: 200px;
}
.project p {
	margin: 1.5em 0;
	height: 5em;
	text-align: center;
	font-size: 12px;
}
.project img {
	padding: 0px;
	border: 1px solid #ccc;
	transition: 0.35s;
	-moz-transition: 0.35s;
	-webkit-transition: 0.35s;
}
.project img:hover {
	-webkit-box-shadow: #aaa 0px 0px 10px;
	-moz-box-shadow: #aaa 0px 0px 10px;
	box-shadow: #aaa 0px 0px 10px;
}