.left { width: 71%; margin-right: 4%; }
.right { width: 25%; margin-top: 2em; }
.right img { margin-bottom: 1em; }
.whole { width: 100%; }
.half {	width: 50%; }
.quarter { width: 25%; }
.thumbnail { width: 100px; height: 100px; margin-right: 10px; }
#content h1 { font-size: 24px; }
#content h2 { margin-top: 2em; font-size: 16px;}
#content a, #content a:hover { color: #990404; }
#content .whole p, #content .half p, #content .quarter p  { margin: 0; }
#content .teacher-info p {
	margin-bottom: 0.25em;
}
#content .half .teacher-info {
	max-width: 55%
}
#content ul { list-style: disc; margin: 1em 0 1em 1.5em; }