@charset "utf-8";
/* CSS Document */

@font-face {
    font-family: 'IrisUPC';
    src: url('../fonts/IrisUPC.eot');
    src: url('../fonts/IrisUPC.eot?#iefix') format('embedded-opentype'),
         url('../fonts/IrisUPC.woff2') format('woff2'),
         url('../fonts/IrisUPC.woff') format('woff'),
         url('../fonts/IrisUPC.ttf') format('truetype'),
         url('../fonts/IrisUPC.svg#IrisUPC') format('svg');
    font-weight: normal;
    font-style: normal;

}


/*
@font-face {
    font-family: 'Century Schoolbook';
    src: url('../fonts/Century Schoolbook.eot');
    src: url('../fonts/Century Schoolbook.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Century Schoolbook.woff2') format('woff2'),
         url('../fonts/Century Schoolbook.woff') format('woff'),
         url('../fonts/Century Schoolbook.ttf') format('truetype'),
         url('../fonts/Century Schoolbook.svg#Century Schoolbook') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Modern No. 20';
    src: url('../fonts/Modern No. 20.eot');
    src: url('../fonts/Modern No. 20.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Modern No. 20.woff2') format('woff2'),
         url('../fonts/Modern No. 20.woff') format('woff'),
         url('../fonts/Modern No. 20.ttf') format('truetype'),
         url('../fonts/Modern No. 20.svg#Modern No. 20') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'kokila';
    src: url('../fonts/kokila-webfont.eot');
    src: url('../fonts/kokila-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/kokila-webfont.woff2') format('woff2'),
         url('../fonts/kokila-webfont.woff') format('woff'),
         url('../fonts/kokila-webfont.ttf') format('truetype'),
         url('../fonts/kokila-webfont.svg#kokila') format('svg');
    font-weight: normal;
    font-style: normal;

}

*/
