/* version 20150131 Scareltt Suen */
/* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0px;padding:0px;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
a{text-decoration:none; }
.clear{clear:both;}/* clear float */
img{max-width:100%; max-height:100%;}
/*end reset*/

.wrap {
	width: 80%;
	margin:0 auto;
	padding: 0;
}

#body {
	max-width: 1088px;	/*edit 20141127*/
	min-width: 1088px;	
	margin: 0 auto;
}

#head {
	background-color: #f5f5f5;
	height: 94px;	
}
#logo {
	height: 85px;	
}

#content {
	background: url(../images/background.jpg) center no-repeat;
	background-size: 1088px;
}
#content-top {
	height: 536px;	 /* 472px */
}

#menu {
	float: left;
	width: 119px;	
	margin: 47px 0 0 0;		
}

#menu ul li {
	height: 34px;	
	font-size: 23px;	
	font-family: "IrisUPC";
}
#menu ul ul li {
	border-bottom: solid 1px rgba(150,150,150,0.60);	/* 190190190 */
}

#menu ul a{
	display: block;
	background-color: rgba(40,40,40,0.60);	/* 20141107 */
	padding: 0 0 0 10px;	
	color: #F5F5F5;
}
#menu ul a:hover {
	background-color: rgba(0,0,0,0.80);
}

#menu ul ul a {
	background-color: rgba(70,70,70,0.60);	/* (80,80,80,0.60) */	
}
#menu ul ul a:hover {
	background-color: rgba(0,0,0,0.80);	/* rgb(190,190,190) (120,120,120,0.95) */
	/* color: black; */
}

#aboutus {
	border-left: solid 5px #031e6b;	
}
#menu ul #aboutus-bottom {
	height: 2px;
	background-color:rgba(140,140,140,0.60);	/* 150150150 0.60 */
	border-left: solid 5px #031e6b;	
}
#academics {
	border-left: solid 5px #680404;	
}
#menu ul #academics-bottom {
	height: 2px;
	background-color:rgba(140,140,140,0.60);	/* 150150150 0.60 */
	border-left: solid 5px #680404;	
}
#admission {
	border-left: solid 5px #075101;	
}
#menu ul #admission-bottom {
	height: 2px;
	background-color:rgba(140,140,140,0.60);	/* 150150150 0.60 */
	border-left: solid 5px #075101;	
}
#research {
	border-left: solid 5px #5b5902;	
}
#menu ul #research-bottom {
	height: 2px;
	background-color:rgba(140,140,140,0.60);	/* 150150150 0.60 */
	border-left: solid 5px #5b5902;	
}
#faculty {
	border-left: solid 5px #480e66;	
}

.list {
	position: relative;
	left: 114px;	
	top: -34px;	
	display: none;
}
ul#aboutusList {
	width: 95px;	
}
ul#academicsList {
	width: 200px;	
}
ul#admissionList {
	width: 135px;	
}
ul#researchList {
	width: 135px;	
}
ul#facultyList {
	width: 160px;	
}


#news {
	float: right;
	width: 200px;	
	height: 340px;	
	margin-top: 47px;		/* edit 20141107 90px */
	padding: 21px 10px;	
	background-color: rgba(20,20,20,0.54);
	color: white;
}

#news a {
	color: white;
}
#news a:hover {
	text-decoration: underline;
}

#news-head {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 20px;	
	font-weight: bold;
	text-transform: uppercase;
}

#news-content {
	height: 84%;
	font-family: Arial, sans-serif;
	padding-top: 1em;
}
#news-content p:nth-child(1), #news-content p:nth-child(3) {
	font-weight: bold;
}
.news-title {
	margin-bottom: 0.25em;
	font-size: 13px;	
}
.news-date {
	font-size: 12px;	
	margin-bottom: 0.5em;	/* edit 20141107 1.25em */
	color: rgb(192,192,192);
}

#news-more {
	font-family: Arial,sans-serif;
	font-size: 13px;	
	text-align: right;
}
#news-more a {
	color: rgb(192,192,192);
}
#news-more a:hover {
	color: white;
}

#workshop-head {
	height: 38px;	
	width: 280px;	
	padding: 17px 13px 8px 13px;	
	background-color: rgba(30,30,30,0.60);	/* 20141107 */
	font-family:Georgia, "Times New Roman", Times, serif;
	color: white;
	display: none;
}
#workshop-head-left{
	font-size: 30px;	
	text-transform: uppercase;
	margin-right: 14px;
}
#workshop-head-right{
	font-size: 15px;
}
#workshop-head-right a{
	color: white;
}
#workshop-head-right a:hover{
	text-decoration: underline;
}

/*#workshop-head {
	height: 38px;	
	width: 165px;	
	padding: 14px 14px 6px 14px;	
	background-color: rgba(40,40,40,0.64);
	font-family:Georgia, "Times New Roman", Times, serif;
	color: white;
}*/

/*#workshop-head h1{*/
	/*font-size: 20px;*/	
	/*font-weight: bold;*/
	/*text-transform: uppercase;*/
	/*letter-spacing: 1px;*/
	/*margin-right: 17px;*/	
/*}*/


#workshop-content {
	margin-top: 9px;	
	font-family: "IrisUPC"; /* "Comic Sans MS"*/
	line-height: 130%;
}

#workshop-content a{
	color: #101010;
}

#workshop-content h2 {
	font-size: 24px;
	padding: 0.5% 3.5% 0% 2.5%;
	width: 94%;
	height: 26px;
}

.column_1_3 {
	width: 32.5%;	/* 32.3% */
	height: 153px;
	float: left;
}

#sketch, #diploma {
	margin-right: 1.25%;	/* 1.25% */
}

#sketch h2, #sketch h2 img {
	background-color: #01a7e3;
}
#diploma h2, #diploma h2 img {
	background-color: #84b818;
}
#academic-comm h2, #academic-comm h2 img {
	background-color: #f26d2a;
}

#foot {
	clear: both;
}

#links {
	border-top: solid 3px #aaaaaa;	
}
.links-right {
	margin-right: 22px;
}
#links img {
	height: 29px;	
}
#nav-bottom {
	margin-top: 26px;	
	font-family: Arial, Helvetica, sans-serif;
	color: gray;
	text-align: center;
	font-size: 12px;
}

#copyright {
	margin-top: 2px;	
	font-family: Arial, Helvetica, sans-serif;
	color: gray;
	text-align: center;
	font-size: 12px;
}